@model IEnumerable<Temple.Models.TempleViewModel.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Pacients Statistics";
}


<h2>Pacient Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Pacients
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.PacientCount
            </td>
        </tr>

    }
</table>
